@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Indigo */
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-200: #c7d2fe;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
  --color-brand-800: #3730a3;
  --color-brand-900: #312e81;

  /* Grey */
  --color-grey-0: #fff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  --color-blue-100: #e0f2fe;
  --color-blue-700: #0369a1;
  --color-green-100: #dcfce7;
  --color-green-700: #15803d;
  --color-yellow-100: #fef9c3;
  --color-yellow-700: #a16207;
  --color-silver-100: #e5e7eb;
  --color-silver-700: #374151;
  --color-indigo-100: #e0e7ff;
  --color-indigo-700: #4338ca;

  --color-red-100: #fee2e2;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
}

*,
body,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: rgba(247, 139, 41, 1) #f0f0f0;
}

html {
  font-size: 62.5%;
  background: #121826;
}


body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: clip;
  line-height: 1.5;
  font-size: 1.6rem;
  scrollbar-width: thin;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


/* Edge/IE 11 styling for a consistent experience */
body * {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1.5s infinite;
}

.animate-blink-fast {
  animation: blink 0.5s infinite;
}

@font-face {
  font-family: 'SFPRO';
  src: url('/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFPRO';
  src: url('/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SFPRO';
  src: url('/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'InriaSans';
  src: url('/fonts/InriaSans-Light.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CERA';
  src: url('/fonts/cera/cera-gr-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'CERA';
  src: url('/fonts/cera/cera-gr-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CERA';
  src: url('/fonts/cera/cera-gr.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CERA';
  src: url('/fonts/cera/cera-gr-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CERA';
  src: url('/fonts/cera/cera-gr-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CERA';
  src: url('/fonts/cera/cera-gr-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NOTO_SANS';
  src: url('/fonts/NotoSans/NotoSans-Light.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans/OpenSans-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muro';
  src: url('/fonts/Radio/rawest-medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

*:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}


/* Custom scrollbar styling for WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #232A3E;
  /* background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #232A3E;
  /* scrollbar thumb color */
  border-radius: 6px;
  /* rounded corners */
  border: 3px solid #232A3E;
  /* space around scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #232A3E;
  /* color on hover */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(90deg, rgba(201, 201, 201, 0.4) 0%, rgba(201, 201, 201, 0.05) 100%);
  }
}